.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.rs{
    margin-right: 0.5em;
}
#ArgProgLogo{
    width: 200px;
}
img{
    width: 50px;
}
.btn{
    width: 100px;
    border-width: medium;
    color: white;
    font-weight: bold;
}