<div class="row">
     <div class="container">
        <div class="logo">
            <img src="../../../assets/ArgProgLogo.png" id="ArgProgLogo">
        </div>
        <div class="rs">
            <a href="{{social.linkSocial}}"
            target="_blank">
                <img src="{{social.imgSocial}}"
                id="icon-github"
                [hspace]="5">
            </a>
            <button type="button" id="login" class="btn btn-outline-danger">Login</button>
        </div>
    </div>
</div>