.row{
    padding: 10px
}
div{
    background-color: #010d19;
    text-align: center;
    color: white;
}
#nombre{
    font-weight: bold;
}
#perfil{
        position: absolute;
        width: 10%;
        border-radius: 100%;
        left: 5%;
        top: 350px;
        max-height: 300px;
}
.container{
    width: 30%;
}