.row{
    padding: 50px;
    background-color: #010d19;
    color: #79daf8;
}
.container{
    display: inline-block;
    text-align: center;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width:4px;
    border-style:groove;
    border-color:#c501e2;
    border-radius:22px;
}
img{
    width: 150px;
    margin: 0 auto;
}
h1, h4{
    color: rgb(255, 255, 255);
    padding: 20px;
}