<div class="row">
    <H1>Proyectos Realizados</H1>
    <div class="btn btn-outline-primary container" *ngFor="let project of project">
        <div>
            <h4>{{project.nameProject}}</h4>
            <p>{{project.descriptionProject}}</p>
        </div>
        <div>
            <a href="{{project.linkProject}}"
            target="_blank">
                <img src="{{project.imgProject}}"
                id="icon-github"
                [hspace]="5">
            </a>
        </div>
    </div>
</div>