<div class="row">
    <h1>Educación y Estudios Realizados</h1>
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <ul>
                <li>
                    <img src="{{education.imgInstituto}}" class="image-fluid">
                    <h1>{{education.titulo}}</h1>
                    <h3>{{education.anioCursado}}</h3>
                    <h3>{{education.duracion}}</h3>
                </li>
                <p>
                    {{education.descripcionEdu}}
                </p>
            </ul>
        </div>
</div>