<div class="row">
    <h1>Experiencia Laboral</h1>
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <ul>
                <li>
                    <h1>Operario en Metalurgica JMD</h1>
                    <h3>(years)</h3>
                </li>
                <p>
                    Operario - Tareas Generales de Producción
                </p>
                <li>
                    <h1>Responsable SGI en Metalurgica JMD</h1>
                    <h3>(years)</h3>
                </li>
                <p>
                    Responsable Sistema Integral de Gestión - ISO 9001 / 14001
                </p>
                <li>
                    <h1>Jefe Calidad y MC en Metalurgica JMD</h1>
                    <h3>(years)</h3>
                </li>
                <p>
                    Jefe Calidad y MC - Analisis de procesos, costos y productividad
                </p>
            </ul>
        </div>
</div>