<div class="row">
    <h1>Experiencia Laboral</h1>
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <ul>
                <li>
                    <img src="{{experience.imgBusiness}}" class="image-fluid">
                    <h1>{{experience.business}}</h1>
                    <h2>{{experience.position}}</h2>
                    <h3>{{experience.yearIn}} - {{experience.yearOut}}</h3>
                </li>
                <p>
                    {{experience.descriptionPosition}}
                </p>
            </ul>
        </div>
</div>