.row{
    padding: 50px;
    background-color: #1d1d1d;
    color: white;
}
.container{
    display: inline-block;
    text-align: center;
    width: auto;
}
h4{
    padding-top: 50px;
}
#LogoBusiness{
    width: 200px;
    margin: 0 auto;
}