.row{
    background-color: #1d1d1d;
    padding: 20px;
    color: white;
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto1{
    box-shadow: 10px 10px 15px gray;
}