.row{
    align-items: center;
    background-color: #010d19;
    color: #79daf8;
    padding: 20px;
}
div{
    text-align: center;
}
h1{
    text-align: left;
    padding: 20px;
    color: white
}
.container{
    width:33%;
    border-width:4px;
    border-style:groove;
    border-color:#c501e2;
    border-radius:22px;
}
h2{
    color: white;
}