<div class="row" *ngFor="let skill of skill">
    <h1>Habilidades</h1>
    <ul>
        <li>
        <h1>{{skill.nameSkill}}</h1>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                    [percent]="skill.progress"
                    [radius]="100"
                    [imageSrc]="'{{skill.imgSkill}}'"
                    [showImage]="true"
                    [imageHeight]="100"
                    [imageWidth]="100"
                    [backgroundColor]="'#8d8d8d'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="15"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="'{{skill.colorOut}}'"
                    [innerStrokeColor]="'{{skill.colorIn}}'"
                    [animation]="true"
                    [animationDuration]="1000"
                ></circle-progress>
            </div> 
        </li>       
    </ul>
</div>