<div class="row">
    <h1>Habilidades </h1>
    <div class="container" *ngFor="let skill of skill">
        <h2>{{skill.nameSkill}}</h2>
        <circle-progress
                [percent]="skill.progress"
                [radius]="100"
                [imageSrc]="skill.imgSkill"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [backgroundColor]="'#666f88'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="skill.colorOut"
                [innerStrokeColor]="skill.colorIn"
                [animation]="true"
                [animationDuration]="1000"
        ></circle-progress>
    </div>
</div>